<app-header></app-header>

<div class="container mt-2">
    
    <app-addMascota></app-addMascota>

    <div class="row app-container p-2 ">
        <div class="form-group">
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class ="col-lg-10 offset-md-1 content">
            <div *ngFor="let mascota of cards">
                <app-mascota [mascota]="mascota"></app-mascota>
            </div>
        </div>
    </div>
</div>