<div class="card" style="width: 18rem;">
    <!--img class="card-img-top" src="..." alt="Card image cap"-->
    <div class="card-body">
      <div *ngIf="verificacion==true" class="text-right">
        <button type="button" class="btn btn-dark btn-circle btn-sm" (click)=onDisplay()><i class="fa fa-info"></i></button>
      </div>
      <div *ngIf="verificacion==false" class="text-right">
        <button type="button" class=" invisible btn btn-dark btn-circle btn-sm"><i class="fa fa-info"></i></button>
      </div>
      <h5 class="card-title">{{mascota.nombre}}</h5>
      <p class="card-text">{{mascota.descripcion}}</p>
      <div class="datosM">
        <p class="title">Raza:</p>
        <p class="card-text">{{mascota.raza}}</p>
      </div>
      <div class="datosM">
        <p class="title">Color:</p>
        <p class="card-text"> {{mascota.color}}</p>
      </div>
      <div class="datosM">
        <p class="title">Tipo:</p>
        <p class="card-text">{{mascota.tipo}}</p>
      </div>
      <div class="btn-group mt-2" role="group">
        <button type="button" class="btn btn-success" (click)= onUpdateModal(mascota)><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger" (click)=onDeleteModal()><i class="fa fa-trash-alt"></i></button>       
      </div>
    </div>
  </div>


<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Editar información de mascota</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item" [hidden]="id">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="mascotaId"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" formControlName="id" />
          </div>

        </li>
        <li class="list-group-item">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="mascotaTitle"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Ingresa el nombre de la mascota." aria-label="nombre" aria-describedby="mascotaTitle">
            </div>
            <div *ngIf="_nombre.touched && _nombre.errors" class="errorMessage">
                <span *ngIf="_nombre.hasError('required')">Se require el nombre de la mascota.</span>
                <span *ngIf="_nombre.hasError('maxlength')"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="mascotaDescription"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <textarea formControlName="descripcion" class="form-control" placeholder="Describe a tu mascota - Max 150 caracteres" aria-label="Descripcion" aria-describedby="mascotaDescription"></textarea>
            </div>
            <div *ngIf="_descripcion.touched && _descripcion.errors" class="errorMessage">
                <span *ngIf="_descripcion.hasError('required')">Se requiere la descripción de la mascota.</span>
                <span *ngIf="_descripcion.hasError('maxlength')">Solo se permiten 150 caracteres.</span>
            </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="mascotaRaza"><i class="fa fa-pencil-square-o"></i></span>
              </div>
              <input type="text" id="raza" formControlName="raza" class="form-control" placeholder="Ingresa la raza de la mascota." aria-label="raza" aria-describedby="mascotaRaza">
          </div>
          <div *ngIf="_raza.touched && _raza.errors" class="errorMessage">
              <span *ngIf="_raza.hasError('required')">Se require la raza de la mascota.</span>
              <span *ngIf="_raza.hasError('maxlength')"></span>
          </div>
      </li>
      <li class="list-group-item">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="mascotaColor"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="color" formControlName="color" class="form-control" placeholder="Ingresa el color de la mascota." aria-label="color" aria-describedby="mascotaColor">
        </div>
        <div *ngIf="_color.touched && _color.errors" class="errorMessage">
            <span *ngIf="_color.hasError('required')">Se require el color de la mascota.</span>
            <span *ngIf="_color.hasError('maxlength')"></span>
        </div>
    </li>

       
        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-warning btn-block">ACTUALIZAR</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<ng-template #infoTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Detalles de petición</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="request">
      <div class="cardData" id="check">
        <i class="fa fa-check-circle fa-4x"></i>
        <p class="sent">Los datos de tu mascota han sido verificados y tu pago se ha procesado correctamente.</p>
      </div>
      <div class="cardData" id="sent">
        <i class="fa fa-paper-plane fa-4x"></i>
        <p class="sent">¡Tu anuncio ya ha sido publicado!</p>
      </div>

    </div>
  </div>
</ng-template>

<ng-template  #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Confirmación de eliminación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>¿Desea eliminar la mascota?</p>
    <button class="btn btn-warning btn-block" (click)=onDelete()>ELIMINAR</button>

  </div>
</ng-template>
  