<div class=" d-flex justify-content-center m-3 w-100">
    
    <i class="fas fa-search" aria-hidden="true"></i>
    <input [formControl]="filtroNoticias" name="filtroNoticias" class="form-control  ml-3 w-75" 
    type="search" placeholder="Busca una noticia de tu interes mediante su titulo" 
    aria-label="Search"
    
    >
    
    
    <!--input class="form-control form-control-sm ml-3 w-50" type="search" id="search" maxlength=26 
    placeholder="Busca una noticia de tu interes mediante su titulo" ng-model="search.title" 
    ng-model-options="{updateOn : 'change blur'}"-->
</div>
