<div class="modal-header">
    <h4 class="modal-title">Registrar</h4>
</div>


  <div class="modal-body text-center">
    
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Ingrese su nombre."aria-label="nombre" aria-describedby="usuarioNombre">
          </div>


          <div class="errorMessage" *ngIf="nombre.touched && nombre.errors">
            <span *ngIf="nombre.hasError('required')">Se require su nombre.</span>
            <!--span *ngIf="nombre.hasError('maxlength')"></span-->
          </div>

        </li>


        <li class="list-group-item">
          <div class="input-group">
            <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="Ingrese su apellido."aria-label="apellido" aria-describedby="usuarioApellido">
          </div>
          <div class="errorMessage" *ngIf="apellido.touched && apellido.errors">
            <span *ngIf="apellido.hasError('required')">Se requiere su apellido.</span>
            <!--span *ngIf="apellido.hasError('maxlength')">Solo se permiten 150 caracteres.</span-->
          </div>
        </li>



        <li class="list-group-item">
          <div class="input-group">
            <input type="text" id="correo" formControlName="correo" class="form-control" placeholder="Ingrese su correo electrónico."aria-label="correo" aria-describedby="usuarioCorreo">
          </div>
          <div class="errorMessage" *ngIf="correo.touched && correo.errors">
            <span *ngIf="correo.hasError('required')">Se require su correo electrónico.</span>
            <!--span *ngIf="correo.hasError('maxlength')"></span-->
          </div>
        </li>



        <li class="list-group-item">
          <div class="input-group">
            <input type="text" id="password" formControlName="password" class="form-control" placeholder="Ingrese su contraseña."aria-label="password" aria-describedby="usuarioPassword">
          </div>
          <div class="errorMessage" *ngIf="password.touched && password.errors">
            <span *ngIf="password.hasError('required')">Se require su contraseña.</span>
            <!--span *ngIf="password.hasError('maxlength')"></span-->
          </div>
        </li>

        <li class="list-group-item">
          <button [disabled]="insertForm.invalid"  class="btn btn-warning btn-block">Registrarse</button>
        </li>
      </ul>

    </form>

  </div>